Django==2.1.7
mongoengine==0.16.3
djangorestframework==3.9.1
django-rest-framework-mongoengine==3.3.1
djongo==1.2.31
-e git+https://github.com/deepmipt/DeepPavlov@0f0f1ec4cf33f817658ffb3d363cb84741a9e032#egg=deeppavlov
pymongo==3.7.1
ipdb
